<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923064510653-66ku3639pt9hc883rrik4ihq2r1bqtgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923064510653-66ku3639pt9hc883rrik4ihq2r1bqtgb</string>
	<key>API_KEY</key>
	<string>AIzaSyDlrYXAON15T4Svfdcm_JOSqDGCvv3Rvfw</string>
	<key>GCM_SENDER_ID</key>
	<string>923064510653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soundByte</string>
	<key>PROJECT_ID</key>
	<string>soundbyte-b20d7</string>
	<key>STORAGE_BUCKET</key>
	<string>soundbyte-b20d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923064510653:ios:ac07fc54b1910aa74e6fd4</string>
	<key>DATABASE_URL</key>
	<string>https://soundbyte-b20d7.firebaseio.com</string>
</dict>
</plist>